<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >

        <activity
            android:name=".studentlogin"
            android:exported="false" />
        <activity
            android:name=".stafflogin"
            android:exported="false" />
        <activity
            android:name=".student_info"
            android:exported="false" />
        <activity
            android:name=".screen_one"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".staff_homescreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".notes_staff1"
            android:exported="false" />
        <activity
            android:name=".NotesUpload"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".student_homescreen"
            android:exported="false" />
        <activity
            android:name=".stuatt_sub_select"
            android:exported="false" />
        <activity
            android:name=".stuattmain"
            android:exported="false" />
        <activity
            android:name=".stunotesmain"
            android:exported="false" />
        <activity
            android:name=".studentInfo_Staff"
            android:exported="false" />
        <activity
            android:name=".studentDetailsStaff"
            android:exported="false" />
        <activity
            android:name=".library_Semselection"
            android:exported="false" />
        <activity
            android:name=".semesterList"
            android:exported="false" />
        <activity
            android:name=".attendence_selectinfo"
            android:exported="false" />
        <activity
            android:name=".attendence_list"
            android:exported="false" />
        <activity
            android:name=".AvatarSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".FetchNotes"
            android:exported="false" />
        <activity
            android:name=".NotesRecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".library_selectInfo"
            android:exported="false" />

        <activity
            android:name=".library_record_branches"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>